html{
  font-size: 9.26vw;
}
body{
  background-color: #F3F3F3;
  position: relative;
}
.box{
  background-color: #fff;
  padding: 0.2rem 0;
}
.top{
  width: 9.9rem;
  height: 1rem;
  background-color: #F3F3F3;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0.45rem;
}
.top img{
  width: 0.51rem;
  height: 0.53rem;
  position: relative;
  top: -0.3rem;
  left: 0.4rem;
}
.top input{
  background:none;
  outline:none;
  border:0px;
}
.top input:focus{
  border: none;
  background: #F5F5F5;
  outline: none;
}
.leftSide{
   float: left;
   font-size: 0.33rem;
   width: 2.7rem;
   background-color: #fff;
 }
.leftSide ul li{
  display: block;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
}
.rightSide{
  float:right;
  width: 7.55rem;
  position: relative;
  right:0.25rem;
  top:0.2rem;
}
.wash{
  width: 7.56rem;
  height: 2.2rem;
}
br{
  width: 0;
  height: 0;
}
.firstKind ,.twoKind{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  font-size: 0.3rem;
  margin-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-top:0.6rem;
  box-sizing: border-box;
}
.firstKind div ,.twoKind div{
  width: 30%;
  text-align: center;
}
.firstKind img ,.twoKind img{
  width: 2.07rem;
  height: 2.07rem;
}
main::after{
 content: "";
 height: 0;
 display: block;
 clear: both;
 overflow: hidden;
 visibility: hidden;
}
.top1{
  font-size: 0.33rem;
  font-weight: 600;
  position: absolute;
  top: 2.7rem;
  left:0.15rem;
}
.top2{
  font-size: 0.33rem;
  font-weight: 600;
  position: absolute;
  top: 8.8rem;
  left:0.15rem;
}
footer{
  display: flex;
  background-color: #FAFAFA;
  color: #D7D0BD;
  font-size: 0.33rem;
}
footer div{
  flex:1;
  text-align: center;
}
footer img{
  display: block;
  width: 0.63rem;
  height: 0.66rem;
  position: relative;
  left: 0.75rem;
  box-sizing: border-box;
}
footer a{
  color: #88603D;
}
